@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* .text-gradient make text in color gradient from #2a9cfe to darkblue from up left corner to bottom right */
.text-gradient {
  background: linear-gradient(60deg, #2a9cfe, #1e21be);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
